* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo {
    height: 100px;
    margin-left: 50px;
}

div a {
    margin-right: 60px;
    text-decoration: none;
}

.navs {
    font-size: 16px;
    letter-spacing: 4px;
    text-align: center;
}

.navs1 {
    font-size: 18px;
    letter-spacing: 4px;
}

.arkaplan {
    background: url(Resimler/blog.png) no-repeat center center;
    background-size: cover;
    height: 795px;
}

.blogh2 {
    font-size: 60px;
    letter-spacing: 7px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}

.blogp {
    font-weight: 400;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    letter-spacing: 4px;
}

.uniheader {
    text-align: center;
}

.uniimg {
    text-align: center;
    border: 3px solid #007bff;
    border-radius: 10px;
}

.yazlımheader {
    text-align: center;
}

.butoncolor {
    padding: 15px 30px;
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
}